---
import { Tag } from "@lucide/astro";
import { pathForTag } from "@utils/slug";

interface Props {
  tags: string[];
}

const { tags } = Astro.props;
---

{
  tags.length > 0 && (
    <ul class="tag-list" aria-label="文章标签">
      {tags.map((tag) => (
        <li>
          <a href={pathForTag(tag)}>
            <Tag class="icon-muted" size={13} stroke-width={1.8} />
            {tag}
          </a>
        </li>
      ))}
    </ul>
  )
}
